<% content_for :title, t(".title") %>
<div class="page-header">
  <h1><%= t(".title") %> <small><%= t(".subtitle") %></small></h1>
</div>
<div class="list-actions clearfix">
  <%= link_to t(".new"), url_for(action: :new), class: "btn btn-success pull-left" %>
  <span class='pull-right text-right'>
    <%= t(".stats", count: @pages.total_count) %><br />
    <%= t(".stats_page", current_page: @pages.current_page, total_pages: @pages.total_pages) %>
  </span>
</div>
<hr class='divider' />
<table class='table table-hover'>
  <thead>
    <tr>
      <th class="col-sm-9"><%= t('.table.title') %></th>
      <th class="col-sm-3"></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
    <tr>
      <td><%= page.title %></td>
      <td>
        <span class='pull-right'>
          <%= link_to "<i class='fa fa-pencil'></i>&nbsp;#{t(".table.buttons.edit")}".html_safe, url_for(action: :edit, id: page.id), class: "btn btn-xs btn-default" %>
          <%= link_to "<i class='fa fa-trash'></i>&nbsp;#{t(".table.buttons.destroy")}".html_safe, url_for(action: :destroy, id: page.id), method: :delete, 'data-confirm': t('.table.buttons.destroy_confirm'), class: "btn btn-xs btn-danger" %>
        </span>
      </td>
    </tr>
    <% end %>
    <% if @pages.blank? %>
    <tr class="no-records">
      <td colspan="2"><%= t(".table.no-records") %></td>
    </tr>
    <% end %>
</table>
<div class='text-center'>
  <%= paginate @pages, window: 2, theme: 'twitter-bootstrap-3' %>
</div>
