<%= content_for :title, (@gallery.seo_title.blank?) ? @gallery.title : @gallery.seo_title %>
<%= content_for :meta_description, @gallery.seo_description %>
<%= content_for :meta_tags, @gallery.seo_tags %>
<div class='page-header'>
  <div class='row'>
    <div class='col-sm-8'>
      <h1 class='title'><%= @page.title %></h1>
    </div>
    <div class='col-sm-4'>
      <%= select_tag :gallery, options_for_select(Gallery.published.map{|a| [a.title, gallery_path(a.slug)]}, gallery_path(@gallery.slug)), class: 'form-control gallery-select' %>
    </div>
  </div>
  <p><%= @gallery.description %></p>
</div>

<div class="gallery row">
  <% @gallery.pictures.each do |pic| %>
  <div class='col-xs-4 col-sm-3'>
    <%= link_to image_tag(pic.file.thumb.url, alt: pic.description, title: pic.description), pic.file.url, data: { lightbox: "album", title: pic.description} %>
  </div>
  <% end %>
</div>

<% content_for :javascripts do -%>
<script type="text/javascript">
(function(window, document, $, undefined){
  $(function(){
    lightbox.option({
      'albumLabel': "Imagen %1 de %2",
      'wrapAround': true
    })
  });
})(window, document, window.jQuery);
</script>
<% end %>
