<% content_for :title, t(".title") %>
<div class="page-header">
  <h1><%= t(".title") %> <small><%= t(".subtitle") %></small></h1>
</div>
<div class="list-actions clearfix">
  <%= link_to t(".new"), url_for(action: :new), class: "btn btn-success pull-left" %>
  <span class='pull-right'>
    <%= t(".stats", count: @users.count) %>
  </span>
</div>
<hr class='divider' />
<table class='table table-hover table-bordered'>
  <thead>
    <tr>
      <th class="col-sm-9"><%= t('.table.email') %></th>
      <th class="col-sm-3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td>
        <span class='pull-right'>
          <%= link_to "<i class='fa fa-pencil'></i>&nbsp;#{t(".table.buttons.edit")}".html_safe, url_for(action: :edit, id: user.id), class: "btn btn-xs btn-default" %>
          <% if user == current_user %>
          <%= link_to "<i class='fa fa-trash'></i>&nbsp;#{t(".table.buttons.destroy")}".html_safe, "#", class: "btn btn-xs btn-danger disabled" %>
          <% else %>
          <%= link_to "<i class='fa fa-trash'></i>&nbsp;#{t(".table.buttons.destroy")}".html_safe, url_for(action: :destroy, id: user.id), method: :delete, 'data-confirm': t('.table.buttons.destroy_confirm'), class: "btn btn-xs btn-danger" %>
          <% end %>
        </span>
      </td>
    </tr>
    <% end %>
</table>
